### Eclipse ###
.classpath
.project
.settings/**/*
.metadata

### Compiled Files ###
**/target/**/*
**/file-uploads/**/*

### logs ###
logs/*

/target/


### Folders ###
git/**/*
gitLake/**/*
libs/**/*
resultLake/**/*

### Vertx Deployment
vertx-start-process.id
