/*Experiment admin view */

#expview {
  ul {
    list-style-type: none;
  }
  .btn {
    margin-left: 1px;
    margin-right: 3px;
  }
}

.componentlist {
  .label {
    display: inline-block;
    min-width: 40px;
  }
  .phaselistlink {
    display: inline-block;
    min-width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  li .btn-group {
    margin-left:5px;
  }
}

.angularcomponentlist {
  .compname {
    min-width: 300px;
  }
}

.experiment-edit {
  .ui-select-bootstrap {
    min-width: 480px;
    max-width: 480px;
    display: inline-block;
  }
}