/*TestList*/
 .testlist {

    .testlist-folders {

      tr > td {
        cursor: pointer;

        i {
          margin-right: 8px;
        }
      }

      .selected {
        background-color: rgb(69, 122, 132);
        color: white;
      }

      .selected:hover {

        td:hover {
          background-color: rgba(25, 25, 25, 0.25);
        }
      }
    }

    .testlist-tests {

    }
 }

 /**/

  /*
      <div class="sk-wave">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
      </div>
 *
 */
.sk-wave {
  margin: 80px auto;
  width: 100px;
  height: 70px;
  text-align: center;
  font-size: 10px; }
  .sk-wave .sk-rect {
    background-color: #333;
    height: 100%;
    width: 8px;
    margin-left: 3px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
            animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
  .sk-wave .sk-rect1 {
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s; }
  .sk-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

/*Image uploading and handling*/

.invisibleElement {
  visibility: hidden;
}

#uploader {}

@keyframes countdown {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@-webkit-keyframes countdown {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@-moz-keyframes countdown {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@-o-keyframes countdown {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.animatedChild {
  animation-play-state:inherit !important;
  -webkit-animation-play-state:inherit !important;
  -moz-animation-play-state:inherit !important;
  -o-animation-play-state:inherit !important;
}

.noAnimation {
          animation: none !important;
  -webkit-animation: none !important; 
     -moz-animation: none !important;
       -o-animation: none !important;

}

/* Display */
#display {

  height: 500px;
  /*min-width: 1000px;*/
  width: 1000px;
  border: solid black 2px;
  background-color: white;
  overflow: hidden;
  position: relative;
  /*Unselectable display*/
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */

  > * {
    pointer-events: none;
  }

  > p {
    padding-left: 0px;
    display: inline;
    line-height: 1.20;
    cursor: default;
    /*text-align: justify;*/
    padding-right: 5px;
    padding-bottom: 5px;  
  }

  .activeDropzone {
    /*position:relative;*/
    outline: 3px dotted blue;
    pointer-events:auto;
  }
  /*.activeDropzone:after {
    content: " ";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 5px solid #ffea00;
  }*/

  input[type="text"], textarea{
    border-radius: 5px;
    border:gray solid 1px;
    padding:4px;
    pointer-events:auto;
  }

  textarea:focus, input[type="text"]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)!important;
    box-shadow: inset 0 1px 1px;
    pointer-events:auto;
  }

  > .mouselistener {
    pointer-events:auto;
  }

}


.pauseAnimation {
  animation-play-state: paused !important;
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
}

.playAnimation {
  animation-play-state: running !important;
  -webkit-animation-play-state: running !important;
  -moz-animation-play-state: running !important;
  -o-animation-play-state: running !important;
}

.imgname {
  display: inline-block;
  margin-right: 2px;
  width: 45%;
}

#images ul {
  /*list-style-type: none;*/
  /*list-style-position: outside;*/
  padding-left: 0;
  margin-left: 0;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: visible;
}

#imagelist {
  li {
    min-height: 40px;
  }
  img {
    height: 30px;
    width: 30px;
  }
  li {
    span .dijitButtonNode {
      padding: 5px 8px !important;
    }
    .imgenlarge {
      span {
        position: absolute;
        /*right: -9999px;*/
        padding: 2px;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: lightgray;
        z-index: 300;
        display: none;
        top: 150px;

        img {
          max-height: 300px;
          max-width: 300px;
          width: auto;
          height: auto;
        }

        p {
          text-align: center;
          margin:0px;
          padding:2px;
          padding-bottom: 1px;
        }
      }
      &:hover span {
        right: 280px;
        /*the distance from the bottom of the thumbnail to the top of the popup image*/
        left: -300px;
        left: auto;
        display: block;
      }
    }
  }
}

#advancedSettings {
  .showadvance > h3 {
    border-bottom: 1px solid gray;
    margin-left: 30px;

    button {
      border-radius: 30px;
      position: relative;
      right: 30px;
    }

    span {
      margin-left:-25px;
    }
  }
}

/*
testeditor styles
*/

#mouseposition {
  position: absolute;
  background-color: #ebebeb;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  visibility: visible;
  z-index: 1000;
}

#log {
  td:first-child, th:first-child {
    width: 100px;
  }
}

/* Ace editor styling */

#editor {
  border: 2px solid #DDD;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  margin-top: 5px;
  position: relative;
  height: 550px;
}


/*Phase*/

#loadAnim {
  position: absolute;
  left: 400px;
  top: 150px;

  left:450px;
}

/*
.loaderAnim {
  font-size: 10px;
  margin: 5em auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: gray;
  background: -moz-linear-gradient(left, gray 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, gray 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, gray 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, gray 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, gray 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  &:before {
    width: 50%;
    height: 50%;
    background: gray;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  &:after {
    background: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
*/