.ng-useraccess {
  h4 {
    border-bottom: 1px solid gray;
    margin-left:30px;

    button {
      border-radius: 30px;
      position: relative;
      right: 30px;
    }

    span {
      margin-left:-25px;
    }
  }

  .row {
    margin-left:25px;
  }

  .label {
    cursor: pointer
  } 

  .panel {
    margin-top: 0px;
  }
}