{>header /}
<div id="main" class="container">
	<div class="row">
		<div class="col-md-6">

			<form data-dojo-type="dijit/form/Form" id="expForm" data-dojo-id="expForm" action="" method="post">  
				<label for="firstname">Experiment Name</label>
				<input type="text" name="firstname" value="" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="trim:true, propercase:true" id="name" class="form-control" required="true"/>

				<label for="firstname">Experiment description</label>
				<textarea type="text" name="description" data-dojo-type="dijit/form/Textarea" id="description" rows="4"></textarea>


				<label for="startDate">Start Date:</label><br>
				<input type="text" name="startDate" id="startDate" data-dojo-type="dijit/form/DateTextBox" required="true"/> <br>

				<label for="endDate">EndDate</label> <br>
				<input type="text" name="endDate" id="endDate" data-dojo-type="dijit/form/DateTextBox" required="true"/>


				<button data-dojo-type="dijit/form/Button" name="submitButton" value="Submit" id="submit">Submit</button>

			</form>			
		</div>
	</div>
</div>
<script type="text/javascript">
var test ={
	a: "dssss",
	b: "bbbbbbbbb"
};
window.asd = test;

</script>
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.0/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
<script type="text/javascript" src="/javascript/expform.js"></script>

{>footer /}