{>header /}

<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="panel">
                <h4>Enter new password</h4>

                <div class="panel-body">
                    {?error}
                    <div class="alert alert-error">
                        <p>{error}</p>
                    </div>
                    {/error}
                    {?success}
                    <div class="alert alert-success">
                        <p>Password sucessfully reset, you can now log in normally using your new password</p>
                    </div>
                    <a class="btn btn-success btn-lg" href="/login">Login here!</a>

                    {:else}
                    <p>Enter your new password</p>
                    <form class="form" role="form" action="" method="post">
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Enter new password">
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="password" name="passwordAgain" placeholder="Repeat password">
                        </div>

                        <button type="submit"  class="btn btn-primary">Set password</button>

                    </form>
                    {/success}
                   
                </div>
            </div>
        </div>


    </div>
</div>

{>footer /}