{>header_nodojo /}

<script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/none.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js"></script>

<script type="text/javascript" src="/javascript/trainingadmin.js"></script>

<script src="/javascript/bower_components/moment/moment.js"></script>
<script src="/javascript/bower_components/angular-moment/angular-moment.js"></script>
<script type="text/javascript" src="/javascript/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script src="/javascript/bower_components/CSV-JS/csv.js"></script>

<script type="text/javascript" src="/javascript/bower_components/js-xlsx/dist/xlsx.full.min.js"></script>

<script type="text/javascript">
  //window.chartData={chartData|s|js}
  //console.log(window.chartData)
</script>

<div id="main" class="container" ng-app="trainingAdmin">
  <div class="row">
    <!-- <div id="trainingView" class="col-md-offset-1 col-md-10 trainingAdmin"> -->
    <div id="trainingView" class="col-md-12 trainingAdmin">

      <div class="row">
        <div class="col-md-12">
          <h1 class="pull-left">{training.name}</h1>
          <a href="{URI}/edit" class="pull-right btn  btn-success" style="margin-top: 26px;">Edit</a>
        </div>
      </div>

      <!-- Stats -->
      <div ng-controller="overallStatsController">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="infopanel">
              <h4>Participants</h4>
              <p>[([particpantCount])]</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="infopanel">
              <h4>Completed</h4>
              <p>[([completed])]</p>
            </div>
          </div>

          <!-- <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="infopanel">
              <h4>Conversion</h4>
              <p>55/10%</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="infopanel">
              <h4>Dropouts</h4>
              <p>150</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="infopanel">
              <h4>Completed</h4>
              <p>175</p>
            </div>
          </div>
        </div> -->


        <!--Graph-->
        <div class="row">
          <div id="chartdiv"></div>
        </div>
      </div>

      <hr>

   <!--   <div class="row">
        <div class="col-md-12">
          <div ng-controller="userProgressController">
            <ul class="userProgress">
              <li ng-repeat="(key,user) in participants" class="row">
                <div class="col-md-6">
                  <span>[([key])] ##</span>
                  <span>[([user.userId])]</span>
                  <span>[([user.timestamp | date:'M/d/yyyy'])]</span>
                  <span class="label label-danger ">[([user.mode])]</span>
                  <span>---[([user.inControlGroup])]</span>
                </div>
                <div class="col-md-3">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="[([user.percentageDone])]" aria-valuemin="0" aria-valuemax="100" style="width: [([user.percentageDone])]%">
                      <span>[([user.percentageDone])]% </span>
                    </div>
                </div>
                </span>

              </li>
            </ul>
          </div>
        </div>
      </div>-->

      <div class="row">
        <div class="col-md-12">
          <div ng-controller="userProgressController" class="userProgress">

            <script type="text/ng-template" id="myModalContent.html">
              <div class="modal-header">
                  <h3 class="modal-title" id="modal-title">User details</h3>
              </div>

              <div class="modal-body" id="modal-body">
                <div ng-if="!error && userObj">
                  <h4>User id:[([userObj._id])]</h4>
                  <h4>Username:[([userObj.username])]</h4>

                  <div class="checkbox-inline">
                    <label>
                      <input ng-false-value="false"
                            ng-true-value="true"
                            ng-model="forgottenPwd"
                            ng-click="resetPassword(forgottenPwd)" type="checkbox">Password reset
                    </label>
                  </div>
                  <span ng-show="userObj.forgottenPasswordToken && userObj.forgottenPasswordToken !== true"><a ng-href="/login/forgotten/[([userObj.forgottenPasswordToken])]"> link</a></span>
                </div>
                <div ng-if="error">
                  <div class="alert alert-danger">[([error])]</div>
                </div>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
              </div>
            </script>


            <table class="table table-striped ">
              <thead>
                <th>#</th>
                <th>ID</th>
                <th ng-if="training.idForwarding == true">ExternalID</th>
                <th>StartDate</th>
                <th>LastAction</th>
                <th>Status</th>
                <th ng-if="training.controlgroup">Group</th>
                <th>Training Progress</th>
              </thead>
              <tbody class="userProgress">
                <tr ng-repeat="(key,user) in participants" ng-class="rowClass(user)">
                  <td>[([key])]</td>
                  <!-- <td><div popover="I appeared on mouse enter!" popover-trigger="click">[([user.userId])]</div></td> -->
                  <td class="userProgress-clickable" ng-click="open(user)">[([user.userId])]</td>
                  <td ng-if="training.idForwarding == true">[([user.externalId])]</td>
                  <td>[([user.timestamp | date:'M/d/yyyy'])]</td>
                  <!-- <td><span ng-if="user.mode != 'done'" am-time-ago="user.hoursTilDone"></span></td> -->
                  <!-- <td><span ng-if="user.mode != 'done'" am-time-ago="user.updated"></span></td> -->
                  <td am-time-ago="user.updated"></td>
                  <td><span ng-class="{'label-success': user.mode=='done', 'label-danger': user.mode!='done'}" class="label ">[([user.mode])]</span></td>
                  <td ng-if="user.inControlGroup == true && training.controlgroup">
                    <span class="label label-warning">Control</span>
                  </td>
                  <td ng-if="user.inControlGroup == false && training.controlgroup">
                    <span class="label label-info">Training</span>
                  </td>
                  <!-- <td class="progressCell">
                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="[([user.percentageDone])]" aria-valuemin="0" aria-valuemax="100" style="width: [([user.percentageDone])]%">
                        <span>[([user.percentageDone])]% </span>
                      </div>
                   </div>
                  </td> -->

                  <td>[([user.trainingProgress])]/[([training.repeatcount])]</td>
                </tr>
              </tbody>

            </table>

          </div>
        </div>
      </div>

      <hr>
      <br>

      <div ng-controller="trainingDataFilterController as tDataVm">

        <div class="row">
          <div class="col-md-12">
            <div class="dataFilter form-inline">
              <label>Selectphase</label>
              <select ng-model="tDataVm.filter1" ng-options="o as o for o in ['pre', 'post', 'training', 'trainingiterations']" class="form-control"></select>

              <span ng-if="tDataVm.filter1 == 'pre' || tDataVm.filter1 == 'post'">
                <label>DataType</label>
                <select ng-model="tDataVm.filter2" ng-options="o as o for o in ['single', 'raw']" class="form-control"></select>
                <span ng-if="tDataVm.filter2 == 'raw'">
                  <label>Component</label>
                  <select ng-model="tDataVm.filter3" ng-options="o as o for o in tDataVm.getComponentIterations(tDataVm.filter1)" class="form-control"></select>
                </span>
              </span>

              <span ng-if="tDataVm.filter1 == 'training'">
                <label>Select user</label>
                <select ng-model="tDataVm.filter2" ng-options="o.userId as o.userId for o in tDataVm.getUsersWithAll()" class="form-control"></select>

                <span ng-if="tDataVm.filter2 == 'all'">
                  <label>Field name</label>
                  <input class="form-control" type="text" ng-model="tDataVm.filter3"></input>
                  <label>Component</label>
                  <select ng-model="tDataVm.filter4" ng-options="o as o for o in tDataVm.getComponentIterations(tDataVm.filter1)" class="form-control"></select>
                </span>

                <span ng-if="tDataVm.filter2 != 'all'">
                  <label>Type</label>
                  <select ng-model="tDataVm.filter3" ng-options="o as o for o in ['raw', 'single']" class="form-control"></select>
                  <span ng-if="tDataVm.filter3 === 'raw'">
                    <label>Training iterations</label>
                    <select ng-model="tDataVm.filter4" ng-options="o as o for o in tDataVm.getIterations()" class="form-control"></select>

                  </span>
                </span>
              </span>

              <span ng-if="tDataVm.filter1 == 'trainingiterations'">
                <label>Select training iteration</label>
                <select ng-model="tDataVm.filter2" ng-options="o as o for o in tDataVm.getIterations()" class="form-control"></select>
              </span>

              <button ng-click="tDataVm.buildQuery()" class="btn btn-success">Run</button>

              <a id="dlLink"      class="dl-link ng-hide" ng-show="tDataVm.downloadData">Download data</a>
              <a id="dlLinkExcel" class="dl-link ng-hide" ng-show="tDataVm.downloadData"  ng-href="[([tDataVm.fileUrlExcel])]" download="data.xlsx">Download excel</a>

            </div>
          </div>
        </div>

        <div class="row">
         <div class="col-md-4">
            <!--Datepickers-->
            <div class="input-group form-inline">
              <input type="text" class="form-control" ng-model="tDataVm.startdate" is-open="tDataVm.opened" close-text="Close" datepicker-popup="[([tDataVm.format])]" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="tDataVm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>

          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="tDataVm.enddate" is-open="tDataVm.opened" min-date="tDataVm.startdate" close-text="Close" datepicker-popup="[([tDataVm.format])]"/>
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="tDataVm.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>

            <!-- </div> -->
        <div class="row">
          <p></p>

          <div class="col-md-12 overflow600">

              <table class="table table-striped table-condensed table-bordered">
                  <thead ng-repeat="row in tDataVm.datarows.slice(0,1)">
                    <tr>
                      <th ng-repeat="col in row track by $index">[([col])]</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="row in tDataVm.datarows.slice(1,entries.length)">
                      <td ng-repeat="col in row track by $index">[([col])]</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-8">
          <form action="{URI}/enrolluser" method="POST">
            <div class="form-group">
              <label>User ids to add to the training</label>
              <textarea class="form-control" name="userids"></textarea>
            </div>

            <div class="form-group">
              <input type="submit" value="add" class="btn btn-primary"></input>
            </div>
          </form>
        </div>
      </div>


      <!--Data-->
      <div class="row">
      </div>

    </div>
  </div>
</div>

{>footer /}
