{>header_nodojo /}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>

<div id="main" class="container">
  <div class="row">
    <div id="expview" class="col-md-12">

      <div class="row">
        <div class="col-md-12">
          <h1>{training.name}  </h1>
          <p> {training.description|s}</p>
        </div>

        {?status.done}
        <div class="col-md-12">
        <div class="alert alert-success" role="alert">

          <p> {training.endmessage|s}</p>
        </div>

          <!--<p> {status|js}</p>-->
        </div>
        {/status.done}

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{status.percentageDone}" aria-valuemin="0" aria-valuemax="100" style="width: {status.percentageDone}%">
              {status.percentageDone}%
            </div>
          </div>
          <div class="row">
            {?status.timeLeft}
              {?status.done}
              {:else}
              <div class="col-md-4">
                <div class="infopanel">
                  <h4>Next task available</h4>
                  <p>{status.timeLeft}</p>
                </div>
              </div>
              {/status.done}
            {:else}
              {?status.done}
              {:else}
              <!-- <div class="col-md-4">
                <div class="infopanel">
                  <h4>Next task available</h4>
                  <p>Now</p>
                </div>
              </div> -->
              {/status.done}
            {/status.timeLeft}

            <div class="col-md-4">
              <div class="infopanel">
                <h4>Progress</h4>
                <p> {status.roundsLeft} </p>
              </div>
            </div>

            {?status.done}
            {:else}
            <div class="col-md-4">
              <div class="infopanel">
                <!-- <h4>Deadline</h4>
                <p> {status.deadline}</p> -->
               <!-- <p> {status.totalTimeLeft}</p>-->
              </div>
            </div>
            {/status.done}
          </div>

        </div>
      </div>

      <div class="row">
        {?status.done}
        {:else}
        <div class="col-md-12">
          {?status.timeLeft}
          <h3>Next task is available {status.timeLeft}</h3>
          {:else}
          <a class="btn btn-success btn-lg" href="{URI}/execute">Start next round</a>
          {/status.timeLeft}
        </div>
        {/status.done}

        {?status.showscore}
        <div class="col-md-12">
          <div id="chartcontainer" class="">
        </div>
        {/status.showscore}

        </div>
      </div>

    </div>
  </div>
</div>


<script type="text/javascript">

$(function () {
  var score = [{status.scoreHistory}];
    $('#chartcontainer').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Score'
        },
        xAxis: {
            /*categories: [
              1,2,3,4,5,6,7,8,9,10
            ],*/
            min:1,
            crosshair: true,
            title: {
              text:"Training round"
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Score'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} points </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Score',
            data: score
        }]
    });
});

</script>
{>footer /}
