{>header_nodojo/}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script type="text/javascript" src="/javascript/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<div id="main" class="container useradmin" ng-app="userList" ng-controller="UserController">
  <div class="row">
    <div class="col-md-12">
      <h4>Manage Users</h4>

      <table class="table">
        <thead></thead>
        <tr></tr>
        <tbody>
          <tr ng-repeat="user in users" class="vert-align">
            <td><strong>[([user.username])]</strong></td>
            <td ng-show="user.role === 'admin'">
              <span class="label label-primary">[([user.role])]</span>
            </td>
            <td ng-show="user.role === 'editor'">
              <span class="label label-info">[([user.role])]</span></td>
            <td>
            <td ng-hide="user.role==='editor' || user.role === 'admin'"></td>
            <td>
              <select class="form-control" ng-model="user.role" ng-options="o as o for o in ['editor','admin']" ng-change="updateUser($index)"></select>
            </td>
            <td>
              <div class="checkbox-inline">
                <label>
                  <input ng-false-value="false" 
                         ng-true-value="true"
                         ng-model="user.hasToken"
                         ng-click="updateToken($index)" type="checkbox">Password reset
                </label>
              </div>
              <span ng-show="user.forgottenPasswordToken && user.forgottenPasswordToken !== true"><a href="/login/forgotten/[([user.forgottenPasswordToken])]">link</a></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Create new user</h4>
      <input ng-model="newUsername" type="text" name="">
      <button ng-click="createUser(newUsername)">Create</button>
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascript/userList.js"></script>

{>footer /}