* {
  outline: none;
}

/*body {
  margin: 0;
  padding: 2em;
  font-family: Lucida Sans,Lucida Grande,Arial !important;
  font-size: 13px !important;
  background: white;
  color: #333;
}*/

.main {
  min-height: 900px;
  background-color: white;
  margin-top: -20px;
  padding-top: 25px;
  box-shadow: 12px 0 30px -4px rgba(0, 0, 0, 0.2), -12px 0 30px -4px rgba(0, 0, 0, 0.2);
}

#main {
  min-height: 850px;
  background-color: white;
  margin-top: -20px;
  margin-bottom: 20px;
  padding-top: 10px;
  box-shadow: 12px 0 30px -4px rgba(0, 0, 0, 0.2), -12px 0 30px -4px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*button {
  -webkit-transition: background-color 0.2s linear;
  border-radius:4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  background-color: #E4F2FF;
  background-image: url("//ajax.googleapis.com/ajax/libs/dojo/1.7.4/dijit/themes/claro/form/images/button.png");
  background-position: center top;
  background-repeat: repeat-x;
  border: 1px solid #769DC0;
  padding: 2px 8px 4px;
  font-size:1em;
}

button:hover {
  background-color: #AFD9FF;
  color: #000000;
}*/

/*h1 {
  font-size:1.5em;
}*/

p {
  line-height: 1.5;
}

.break {
  float: none;
  clear: both;
}


#code {
  width: 100%;
  min-height: 130px;
}

.hidden {
  display: none;
}

.hiddenelem {
  display: none;
  visibility: hidden;
}

.placeholder50px {
  height: 50px;
}

body > .container {
  padding-bottom: 50px;
}

/*#page {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#display {
  border: thin solid black;
  width: 720px;
  height: 360px;
  position: relative;
}*/

#message {
  display: none;
  position: absolute;
  font-size: x-large;
  width: 90%;
}

#toolButtons {
  .btn {
    margin-right: 7px;
    overflow: hidden;
  }
  a {
    float: left;
  }
  form {
    float: left;
    width: 300px;
    .form-control {
      height: 33px;
    }
  }
}

/*END compnentlist */


/*
Login
*/

#registerbox {
  .panel {
    border-color: #E6BCF1;
  }
  .panel-heading {
    background-color: #F7D9F3;
    color: #80318F;
    border-color: #E6BCF1;
  }
}

#registerContainer {
  margin-top: 20px;
}

/*
User dashboard
*/

#userheader > h3 {
  background-color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
}

.panel {
  background-color: white;
  margin-top: 15px;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
  border: none;
  > {
    h4 {
      background-color: #464852;
      padding: 10px;
      color: white;
      margin-top: 0px;
    }
    h5 {
      background-color: #464852;
      padding: 6px;
      color: white;
      margin-top: 0px;
    }
  }
}

.panel-fancy > {
  h4, h5 {
    background-color: #428bca;
    color: #ffffff;
  }
}

.panel-centered > {
  h4, h5 {
    text-align: center;
  }
}

#userdetails {
  padding: 10px;
}

/* end userdashboard /*

/*Bootstrap sticky footer http://getbootstrap.com/examples/sticky-footer-navbar/*/

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #C6D6EE;
  margin-bottom: 100px;
}

.navbar {
  border-radius: 1px;
}

.navbar-default {
  background-color: #234349;
  border-color: #222A3A;
  .navbar-brand {
    color: white;
    &:hover, &:focus {
      color: grey;
    }
  }
  .navbar-text {
    color: white;
  }
  .navbar-link {
    color: white;
    font-weight: bold;
  }
}

#footer {
  position: absolute;
  bottom: -10;
  width: 100%;
  background-color: #F5F6F7;
  display: none;
}

#foot {
  min-height: 100px;
}

.progress {
  background-color: #DADADA;
  margin-top: 10px;
  margin-bottom: 5px;
}

/*.customDojo #main .btn-primary {
  color: #fff;
}*/

/*Experiment editor*/

#componentlist li {
  padding-left: 30px;
  line-height: 40px;
}

.fancyList {
  counter-reset: li;
  /* Initiate a counter */
  list-style: none;
  /* Remove default numbering */
  *list-style: decimal;
  /* Keep using default numbering for IE6/7 */
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  padding-left: 20px;
  li {
    position: relative;
    /*line-height: 40px;
    font-size: 16px;*/
    &:before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      left: -2.5em;
      top: 50%;
      margin-top: -1em;
      background: #fa8072;
      height: 2em;
      width: 2em;
      line-height: 2em;
      text-align: center;
      font-weight: bold;
      border-radius: 2px;
      z-index: 2;
    }
    &:after {
      content: "";
      position: absolute;
      height: 50%;
      width: 2px;
      border: 2px solid #fa8072;
      left: -1.65em;
      top: 2em;
      z-index: 1;
      height:100%;
    }
    &:last-child:after {
      content: "";
      display: none;
    }
  }
  .randomize:before {
    background: #9BBCD0;
  }
  .hide {
    display: none;
  }
}

.btn-row button {
  margin-top: 5px;
  margin-bottom: 5px;
}


/*TRAINING EDITOR*/

.angular-ui-tree-placeholder {
  border: lightblue 2px dashed;
  border-radius: 5px;
}

.dragHandle {
  background-color: lightblue;
  font-size: 16px;
  border: solid 1px lightgray;
  color: white;
  margin-right: 10px;
  min-height: 20px;
  padding: 6px 8px;
  margin: 3px;
  margin-right: 10px;
  float: left;
}

.angularcomponentlist li {
  &:first-child {
    margin-top: 0px;
  }
  margin-left: 25px;
  padding-right: 10px;
  line-height: 40px;
  border-bottom: 1px solid lightgray;
  border-radius: 1px;
  &:last-child {
    border: none;
  }
  &:nth-child(2n) {
    background-color: #E1E8E8;
  }
  button {
    margin-top: 3px;
  }
}

.inlineDropdown {
  display: inline-block;
}

/*USER TRAINING*/

.infopanel {
  background-color: gray;
  background-color: #61A8D1;
  color: white;
}

.infopanel-success {
  background-color: #65AE72;
}

.infopanel-warning {
  background-color: #D86A6A;
}

.infopanel {
  h4 {
    text-align: center;
    margin: 10px 10px 0px 10px;
    padding-top: 5px;
  }
  p {
    text-align: center;
    font-size: 36px;
    line-height: 34px;
    margin-top: 8px;
    padding-bottom: 8px;
  }
}

#chartcontainer {
  margin-top: 15px;
}

/*Big checkbox*/

.bigcheckbox {
  margin-right: 8px;
  input {
    width: 20px;
    height: 20px;
    margin: 0px;
    position: relative;
    top:4px;
  }
}

.componentcheckbox {
  margin-left: 3px;
}

.componentcheckbox input[type="checkbox"] {
  margin-top: 3px;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
  /*left: 3px;*/
  margin-right: 6px;
}


.uheading {
  border-bottom: 1px solid gray;
  padding-bottom: 4px;
}

.userTrainingList {
  li:first-child {

  }
  span b {
    min-width: 30%;
    display: inline-block;
    font-size: 20px;
  }

}

.overflow300 {
  min-height: 100px !important;
  max-height: 300px !important;
  overflow: auto;
}

.overflow600 {
  min-height: 150px !important;
  max-height: 600px !important;
  overflow: auto;
}

.overflow {
  overflow: auto;
}

.dl-link {
  padding-left: 3px;
  padding-right: 3px;
}