
#trainingView {
  ul {
    list-style-type: none;
  }

  .table-striped>tbody>tr:nth-child(odd)>td {
    background-color: rgba(220, 215, 215, 0.55);
  }

  .userProgress {
    /*padding-left: 0px;*/

    .completed {
      background-color: rgba(49, 161, 49, 0.35);
    }

    .userProgress-clickable {
      cursor: pointer;
      text-decoration: underline;
    }

    table {
      //background-color: lightgray;

      > div:first-child {
        margin-top: 10px;
        margin-bottom: 5px;
      }


      .progressCell {
        width:25%;
      }

      .label {
        min-width: 52px;
        display:inline-block;
        padding:.4em .6em .4em;
      }

      .progress {
        height: 13px;
        overflow: visible;
        margin-right: 20px;

        background-color: #DADADA;
        margin-top: 4px;
        margin-bottom: 0px;
      }

      .progress-bar {

        height: 13px;
        text-align: right;
        border-radius: 4px;
        position: relative;

        span {
          background-color: #575662;
          color:white;
          font-size: 12px;
          border-radius: 2px;
          font-weight: bold;
          padding: 1px;

          text-align: center;

          position: absolute;
          margin-top: -9px;
          right: -13px;
          top: 25%;
        }
      }
    }
  }

  &.trainingAdmin{
    .dataFilter {
      label {
        position: absolute;
        top: -20px;
      }
    }
  }
}

.nav-default {
  background-color: red !important;
}

.training-edit {

 .ui-select-bootstrap {
    min-width: 480px;
    max-width: 480px;
    display: inline-block;
  }
  .angularcomponentlist {
    .compname {
      min-width: 300px;
    }
  }

  .ng-selectboxes {
    background-color: blue !important;
    span {
      padding: 5px 10px;
      margin:5px;
      background-color: red;

    }
    .activePhase {
      background-color: yellow !important;
    }
  }
}
