


* {
	outline: none !important;
}

/*body {
	margin: 0;
	padding: 2em;
	font-family: Lucida Sans,Lucida Grande,Arial !important;
	font-size: 13px !important;
	background: white;
	color: #333;
}*/

.main {
	min-height: 900px;
	background-color: white;
	margin-top: -20px;
	padding-top: 25px;
	box-shadow: 12px 0 30px -4px rgba(0, 0, 0, 0.2), -12px 0 30px -4px rgba(0, 0, 0, 0.2);
}

#main {
	min-height: 850px;
	background-color: white;
	margin-top: -20px;
	margin-bottom: 20px;
	padding-top: 10px;
	box-shadow: 12px 0 30px -4px rgba(0, 0, 0, 0.2), -12px 0 30px -4px rgba(0, 0, 0, 0.2);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/*button {
	-webkit-transition: background-color 0.2s linear;
	border-radius:4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background-color: #E4F2FF;
	background-image: url("//ajax.googleapis.com/ajax/libs/dojo/1.7.4/dijit/themes/claro/form/images/button.png");
	background-position: center top;
	background-repeat: repeat-x;
	border: 1px solid #769DC0;
	padding: 2px 8px 4px;
	font-size:1em;
}

button:hover {
	background-color: #AFD9FF;
	color: #000000;
}*/

/*h1 {
	font-size:1.5em;
}*/

p {
	line-height: 1.5;
}


.break
{
	float:none;
	clear:both;
}

#display {
	height: 500px;
	/*min-width: 1000px;*/
	width: 1000px;
	border: solid black 2px;
	background-color: white;
	overflow: hidden;
	position: relative;
	/*Unselectable display*/
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

#display>p  {
	padding-left: 0px;
	display: inline;
	line-height: 1.20;
  cursor: default;
  text-align: justify;
}

#code {
	width: 100%;
	min-height: 130px;
}

.hidden {
	display: none;
}


.hiddenelem {
	display: none;
	visibility: hidden;
}

.placeholder50px {
	height: 50px;
}

body > .container {
	padding-bottom: 50px;
}
/*#page {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#display {
	border: thin solid black;
	width: 720px;
	height: 360px;
	position: relative;
}*/
#message {
	display: none;
	position: absolute;
	font-size: x-large;
	width: 90%;
}


#toolButtons .btn {
	margin-right:7px;
	overflow: hidden;
}

#toolButtons a {
	float: left;
}

#toolButtons form {
	float: left;
	width: 300px;
}

#toolButtons form .form-control {
	height: 33px;
}

/*
testeditor styles
*/

#mouseposition {
	position: absolute;
	background-color: #ebebeb;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}

/*Logger styles */
.overflow300 {
	min-height: 100px !important;
	max-height: 300px !important;
	overflow: auto
}

.overflow {
	overflow: auto;
}

#log td:first-child {
	width: 100px;
}

#log th:first-child {
	width: 100px;
}

/*Experiment admin view */

#expview ul {
	list-style-type: none;
}

#expview .btn {
	margin-left:1px;
	margin-right: 3px;
}


.componentlist .label {
	display: inline-block;
	min-width: 40px;
}

.componentlist .phaselistlink {
	display: inline-block;
	min-width: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*END compnentlist */

/*Image uploading and handling*/
#uploader {

}

.imgname {
	display: inline-block;
  margin-right: 2px;
	width: 45%; 
}

#images ul {
	/*list-style-type: none;*/
	/*list-style-position: outside;*/
	padding-left: 0;
	margin-left: 0;
	max-height: 400px;
	overflow-y:scroll;
  overflow-x: visible;
}

#imagelist li{
  min-height: 40px;
}

#imagelist img {
	height: 30px;
	width: 30px;
}

#imagelist li span .dijitButtonNode {
	padding: 5px 8px !important;
}

#imagelist li {

} 

#imagelist li .imgenlarge span {
  position: absolute;
  right: -9999px;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: lightgray;
  z-index: 300;
  display: none;
  top:150px;
}

#imagelist li .imgenlarge span img {
  max-height: 300px;
  max-width: 300px;
  width: auto;
  height: auto;
}

#imagelist li .imgenlarge:hover span{ 
  right: 280px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
  left: -300px;
  left: auto;
  display: block;
}

/*
Login
*/

#registerbox .panel{
	border-color: #E6BCF1;
}

#registerbox .panel-heading {
	background-color: #F7D9F3;
	color: #80318F;
	border-color: #E6BCF1;
}

#registerContainer {
	margin-top: 20px;
}

/*
User dashboard
*/


#userheader > h3 {
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
}

.panel {
	background-color: white;
	margin-top: 15px;
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.25);
	border: none;
}

.panel > h4 {
	background-color: #464852;
	padding:10px;
	color: white;
	margin-top: 0px;
}

.panel > h5 {
	background-color: #464852;
	padding:6px;
	color: white;
	margin-top: 0px;
}

.panel-fancy > h4 {
	background-color: #428bca;
	color: #ffffff
}

.panel-fancy > h5 {
	background-color: #428bca;
	color: #ffffff
}


.panel-centered > h4{
	text-align: center;
}

.panel-centered > h5 {
	text-align: center;
}


#userdetails{
	padding: 10px;
	background: 
}

/* end userdashboard /*

/*Bootstrap sticky footer http://getbootstrap.com/examples/sticky-footer-navbar/*/
html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #C6D6EE;
	margin-bottom: 100px;
}

.navbar {
	border-radius: 1px;
}

.navbar-default {
	background-color: #234349;
	border-color: #222A3A;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: grey;
}

.navbar-default .navbar-text {
	color: white;
}

.navbar-default .navbar-link {
	color: white;
	font-weight: bold;
}


#footer {
	position: absolute;
	bottom: -10;
	width: 100%;
	background-color: #F5F6F7;
	display: none;
}

#foot {
	min-height: 100px;
}

.progress {
	background-color: #DADADA;
	margin-top: 10px;
	margin-bottom: 5px;
}

/* Ace editor styling */
#editor {
	border: 2px solid #DDD;
	border-radius: 4px;
	border-bottom-right-radius: 0px;
	margin-top: 5px;
    position: relative;
    height: 550px;

}

/*DisplayForm*/
#renderWindow {
	height: 700px;
	overflow: auto;
	padding-left: 5px;
  border: 2px solid #DDD;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  margin-top: 5px;
}


/*Overriding dojo buttons*/

.customDojo .dijitButton .dijitButtonNode {
	display: block;
	padding: 6px 12px;
	background-color: rgba(0,0,0,0.0);;
	background-image: none;
	color: inherit;
}

.customDojo .dijitButton {
	background-image: none;
	border: solid 1px rgba(0,0,0,0);
	/*height: 30px;*/
}

.customDojo .dijitButtonText {
	text-shadow: none;
	line-height: 1.42857143;
}

.customDojo .dijitButton:hover {
	background-image: none;
	color: #333;
	background-color: #EEEEEE;
}

.customDojo .dijitButton .dijitReset {
	background-color: rgba(0,0,0,0.0);
}

.customDojo .dijitButton .btn {
	border-style: solid;
	border-width: 1px;
}

.customDojo .btn {
	color: #fff;
}

.customDojo .btn:hover {
	color: #fff;
}

.customDojo .btn .dijitButtonNode {
	border: none;
}

/*.customDojo #main .btn-primary {
	color: #fff;
}*/

.customDojo .btn-primary:hover {
	background-color: #3276b1;
	border-color: #285e8e;
}

.customDojo .btn-success:hover {
	background-color: #5cb85c;
	border-color: #4cae4c;
}


.customDojo .btn-info:hover {
	background-color: #31b0d5;
	border-color: #269abc;
}

.customDojo .btn-warning:hover {
	background-color: #ec971f;
	border-color: #d58512;
}

.customDojo .btn-danger:hover {
	background-color: #c9302c;
	border-color: #ac2925;
}


/*Experiment editor*/

#componentlist li {
	padding-left: 30px;
	line-height: 40px;
} 

.fancyList {
	counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    padding-left: 20px;
}

.fancyList li {
	position: relative;
	/*line-height: 40px;
	font-size: 16px;*/
}

.fancyList li:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
    z-index: 2;
}


.fancyList li:after {
	content: "";
	position: absolute;
	height: 50%;
	width: 2px;
	border: 2px solid #fa8072;
	left: -1.65em;
	top: 2em;
	z-index: 1;
}

.fancyList li:last-child:after {
	content: "";
	display: none;
}

.fancyList .randomize:before {
	background: #9BBCD0;
}

.fancyList .hide {
	display: none;
}

.btn-row button{
  margin-top: 5px;
  margin-bottom: 5px;
}

.dijitDialog  {
	width: 80% !important;
}

.dijitDialogPaneContent {
	widows: 100% !important;
}

.dijit {
	line-height: 18px;
}

/*
dBootstrap fixes
*/

.dbootstrap .dijitCheckBox, .dbootstrap .dijitRadio {
	width: 20px;
	height: 20px;
	margin-left: 3px;
	margin-right: 3px;	
}

.dbootstrap label {
	line-height: 100%;
	margin-top: 5px;
	font-weight: normal;
}

#formcol p {
	min-height: 1px;
}

#formcol .selectionBase .dijitRadio {
	float:left;
	margin-top: 2px;
}

#formcol .selectionBase .dijitCheckBox {
	float:left;
	margin-top: 2px;
}

#formcol .selectionBase br {
	clear: both;
}

#formcol .selectionBase label {
	float:left;
	max-width: 88%;
	margin-right: 14px;
}

#loadAnim {
  position: absolute;
  left: 400px;
  top: 150px;
}

.loaderAnim {
  font-size: 10px;
  margin: 5em auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: gray;
  background: -moz-linear-gradient(left, gray 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, gray 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, gray 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, gray 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, gray 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loaderAnim:before {
  width: 50%;
  height: 50%;
  background: gray;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loaderAnim:after {
  background: white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/*TRAINING EDITOR*/

.angular-ui-tree-placeholder {
  border: lightblue 2px dashed;
  border-radius: 5px;

}

.dragHandle {
  background-color: lightblue;
  font-size: 16px;
  border: solid 1px lightgray;
  color: white;
  margin-right: 10px;
  min-height: 20px;
  padding: 6px 8px;
  margin: 3px;
  margin-right: 10px;
  float:left;
}

.angularcomponentlist {
}

.angularcomponentlist li:first-child {
  margin-top: 0px;
}

.angularcomponentlist li {
  margin-left: 25px;
  padding-right: 10px;
  line-height: 40px;
  border-bottom: 1px solid lightgray;
  border-radius: 1px;
}

.angularcomponentlist li:last-child {
  border:none;
}

.angularcomponentlist li:nth-child(2n) {
  background-color: #E1E8E8;
}

.angularcomponentlist li button {
  margin-top: 3px;
}


.inlineDropdown {
  display: inline-block;
}

.selectionBase .selectError {
  border: red dotted 2px;
  float: left;
}

.selectionBase .selectionContainer {
  float: left;
}



/*USER TRAINING*/

.infopanel {
  background-color:gray;
  background-color: #61A8D1;
  color: white;
}

.infopanel-success {
  background-color: #65AE72;
}

.infopanel-warning {
  background-color: #D86A6A;
}

.infopanel h4 {
  text-align: center;
  margin: 10px 10px 0px 10px;
  padding-top: 5px;
}

.infopanel p {
  text-align: center;
  font-size: 36px;
  line-height: 34px;
  margin-top: 8px;
  padding-bottom: 8px;
}

#chartcontainer {
  margin-top: 15px;
}



/*Big checkbox*/

.bigcheckbox {
  margin-left: 5px;
}

.bigcheckbox input {
  width: 20px;
  height: 20px;
  margin: 0px;
}

.componentcheckbox input[type="checkbox"] {
  margin-top: 3px;
  width: 16px;
  height: 16px;
  position:relative;
  top:3px;
  left:3px;
}

#formdisplaydata {
  margin: 10px 5px;
}