{>header /}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type="text/javascript" src="/javascript/testlist.js"></script>

<div id="main" class="container">
	{#user.admin}
	<div class="row">
		<div id="toolButtons" class="col-md-12">

			
			<a class="btn btn-primary" href="experiment/new">
				<span class="glyphicon glyphicon-plus"></span>New Experiment	
			</a>
<!-- 				<a class="btn btn-primary" href="experiment">Experiment list</a> -->	
			<!-- <a class="btn btn-primary" href="test">Tests</a> -->
			<form action="/test", method="POST">
				<div class="input-group">
					<input type="text" name="name" class="form-control" placeholder="Testname">
					<span class="input-group-btn">
						<input type="submit" value="New Test" class="btn btn-primary">
					</span>
				</div>
			</form>

			<a class="btn btn-info" href="/training/">
				<span class="glyphicon glyphicon"></span> Training
			</a>
			
			<a class="btn btn-info" href="/docs/index.html" target="_blank">
				<span class="glyphicon glyphicon-book"></span>  Documentation
			</a>

			{@eq key=user.role value="admin"}
			<a class="btn btn-info" href="/admin/user/">
				<span class="glyphicon glyphicon"></span> Manage users
			</a>
			{/eq}

		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel">
				<h4>Experiments</h4>
				<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
					</tr>

				</thead>
				{#experiments uri=URI}
					<tr>
						<td>
							<a href="{uri}experiment/{_id}">
							{?descriptiveName}
								{descriptiveName}
							{:else}
								{?name}
									{name} 
								{:else}
									Unnamed Experiment
								{/name}
							{/descriptiveName}
							</a>

							</td>
						{#timedata}
							{?active}
							<td>Closes in {timedata} days</td>
							{:else}
							<td>Opens in {timedata} days</td>
							{/active}
						{:else}
						<td>Closed</td>
						{/timedata}
					</tr>
				{/experiments}
					
				</table>
			</div>
		</div>

		<div class="testlist" ng-app="testlist" ng-controller="TestListController">
			<div ng-if="!selectedFolder" class="col-md-6 testlist-folders"> 
				<div class="panel">
					<h4>Tests - Select a folder</h4>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="(index, folder) in folders" ng-click="pickFolder(index)">
								<td><i class="fa fa-folder-o"></i>[([folder])]</td>
							</tr>	
						</tbody>
					</table>
					
				</div>
			</div>

			<div ng-if="selectedFolder" class="col-md-6 testlist-tests">
				<div class="panel">
					<h4><button ng-click="back()" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i> Back</button> Test/[([selectedFolder])]</h4>
					<table ng-if="!loading" class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="test in tests" ng-class="{danger: test.compiled==false}">
								<td><a href="/test/[([test._id])]">[([test.name])]</a></td>

								<td ng-if="test.compiled">Compiled</td>
								<td ng-if="!test.compiled">Errors</td>
							</tr>	
						</tbody>
					</table>
					<div>
						<div class="row">
							<div class="col-md-12">
								<div ng-if="loading" class="sk-wave">
								  <div class="sk-rect sk-rect1"></div>
								  <div class="sk-rect sk-rect2"></div>
								  <div class="sk-rect sk-rect3"></div>
								  <div class="sk-rect sk-rect4"></div>
								  <div class="sk-rect sk-rect5"></div>
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


	{:else}
	<p> Nothing to see here</p>
	{/user.admin}
</div>

{>footer /}