{>header /}
<!--<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.9.0/dijit/themes/claro/claro.css">-->
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>

<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>-->
<script type="text/javascript" src="/javascript/bower_components/ace-builds/src-noconflict/ace.js"></script>
<script type="text/javascript" src="/javascript/bower_components/ace-builds/src-min-noconflict/ext-language_tools.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.0/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad: true"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.js"></script>

<script type="text/javascript">
	window.langTool = ace.require("ace/ext/language_tools");
	window.snippetManager = ace.require("ace/snippets").snippetManager;

</script>


<div id="main" class="container">
	<div class="row">
		<div class="col-md-6" id="editorParent"> 
			<!--<div id="error-message" style="visibility: hidden;" class="alert alert-danger">

			</div>
			<!--<textarea data-dojo-type="dijit/form/Textarea" id="markup">-->
			<div id="editor" style="height:700px;">
				{markup}
			</div>
			<!--</textarea>-->
			
			<div id="error-message-lower" class="alert alert-danger hiddenelem"> </div>
			<div id="result2"></div>
		</div>
		<div class="col-md-6" id="demoParent">
			<div id="renderWindow">
				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<button id="renderform" data-dojo-type="dijit/form/Button" type="button">	Update Form</button>
		</div>
		<div id="resultParent" class="col-md-6">
			<button id="expandButton" data-dojo-type="dijit/form/Button" type="button">Expand</button>
			<button id="showData" data-dojo-type="dijit/form/Button" type="button"> Show data</button>

			<div class="hiddenelem alert alert-warning" id="warningbox" role="alert"> </div>

			<div id="formdisplaydata">
				<table id="" class="table table-striped table-bordered">
					<thead>
						<th>Field</th>
						<th>Value</th>
					</thead>
					<tbody id="formdata"></tbody>
				</table>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-offset-6 col-md-6">
			<div id="contPane"> </div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/javascript/displayForm.js"></script>
<script type="text/javascript" src="/javascript/formphase.js"></script>
<!--
require(["dijit/form/Button", 
			"dojo/dom",
			"dojo/dom-style",
			"dojo/request", 
			"dijit/registry",
			"dojo/parser,"
			"dojo/on", 
			"dojo/json",
			"dojox/layout/ContentPane",
			"dojo/ready"], 
		function(Button, 
			dom, 
			domStyle,
			request, 
			registry,
			parser,
			on, 
			json,
			ContentPane,
			ready){ 
		ready(function() {

		var markup = dom.byId("markup");
		markup = registry.byId("markup");
		var renderForm = dom.byId("renderform");
		var renderWindow = dom.byId("renderWindow");

		var errorFrame = dom.byId("error-message");

		var contentPane = new ContentPane({
				content:"This is a contentpane"
			},"contPane");			
		on(renderForm, "click", function() {
			console.log("posting data");

			errorFrame.innerHTML = "";
			domStyle.set("error-message", "visibility", "hidden");

			request.post("",{
				data: markup.get("value")

			}).then(function(reply){
				/*Parsing json*/
				jsonData = json.parse(reply);
				if(jsonData.hasOwnProperty('error')) {
					errorFrame.innerHTML = jsonData.error;
					domStyle.set("error-message","visibility","visible");
				}else {
					/*updating the div with the new form*/
					var renderedForm = jsonData.data;
					renderWindow.innerHTML = renderedForm;

					contentPane.set("content",jsonData.data);
					/*Createing or updating the contentpane*/
				}
			})
		})
	});
})
	
</script> -->

{>footer /}