{>header /}


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-sanitize.js"></script>

<script type="text/javascript" src="/javascript/experimentData.js"></script>
<script src="/javascript/bower_components/CSV-JS/csv.js"></script>
<script type="text/javascript" src="/javascript/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<!-- Excel export related functions -->
<script type="text/javascript" src="/javascript/bower_components/js-xlsx/dist/xlsx.full.min.js"></script>

<div id="main" class="container" ng-app="experimentAdmin">
  <div class="row">
    <div id="expview" class="col-md-12">
      <h1>{exp.name}   <a class="btn btn-default" href="{URI}/edit">Edit</a></h1>
      <p> {exp.description|s}</p>
    </div>
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-3">
          <div class="infopanel">
            <h4>Page Views</h4>
            <p>{exp.participants.total}</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="infopanel infopanel-success">
            <h4>Completed</h4>
            <p>{exp.participants.confirmed}</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="infopanel infopanel-warning">
            <h4>Aborted</h4>
            <p>{exp.participants.aborted}</p>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-12">
      <ol class="componentlist fancyList">
        {#exp.components uri=URI}
        <li>
        <a class="phaselistlink" href="{uri}/phase/{$idx}">phase {$idx} - {name}</a>
          {@eq key=type value="test"}
          <span class="label label-info">{type}</span>
          <span class="btn-group">
            <a href="{uri}/phase/{$idx}/rawdata" type="button" class="btn btn-default btn-xs">Raw data</a>
            <a href="{uri}/phase/{$idx}/rawdata_pivot" type="button" class="btn btn-default btn-xs">Sorted data</a>
          </span>
          {:else}
            <span class="label label-default">{type}</span>
          {/eq}
        </li>
        {/exp.components}
      </ol>
      <p>
        <div class="btn-toolbar">
          <a role="button" class="btn btn-info" href="{URI}/data">Download form data</a>

          <a role="button" class="btn btn-info" href="{URI}/testdata">Download test data</a>

        </div>
      </p>
    </div>
    <div ng-controller="experimentDataFilterController">
      <div class="col-md-12">
        <h4>Filter data</h4>
        <div class="dataFilter form-inline">
          <select class="form-control" ng-model="filter1" ng-options="o as o for o in ['all', 'confirmed','completions', 'videos']" ng-init="filter1=['all', 'confirmed'][1]">
          </select>

          <select class="form-control" ng-model="filter2" ng-options="o as o for o in ['aggregate', 'raw', 'metadata']">
            <option value="" selected disabled>Select data type</option>
          </select>

          <select class="form-control" ng-model="$parent.filter3" ng-if="filter2 == 'aggregate'" ng-options="o as o for o in getF3Components()">
            <option value="" selected disabled>Select components</option>
          </select>

          <select class="form-control" ng-model="$parent.filter3" ng-if="filter2 == 'raw'" ng-options="o as o for o in testComponents">
            <option value="" selected disabled>Select test</option>
          </select>
          <select class="form-control" ng-model="$parent.filter4" ng-if="filter2 == 'raw'" ng-options="o as o for o in ['standard', 'sorted']">
            <option value="" selected disabled>Select sorting</option>
          </select>

          <button ng-click="buildQuery()" class="btn btn-success">Load</button>
          <a id="dlLink"      class="dl-link ng-hide" ng-show="downloadData"  ng-href="[([fileUrl])]" download="data.csv">Download data</a>
          <a id="dlLinkExcel" class="dl-link ng-hide" ng-show="downloadData"  ng-href="[([fileUrlExcel])]" download="data.xlsx">Download excel</a>
        </div>
      </div>
      <div class="col-md-4">
          <!--Datepickers-->
          <div class="input-group form-inline">
            <input type="text" class="form-control" ng-model="startdate" ng-required:"true" is-open="opened" options="dateOptions" close-text="Close" datepicker-popup="[([format])]" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
      <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="enddate" ng-required:"true" is-open="opened" min-date="startdate" options="dateOptions"  close-text="Close" datepicker-popup="[([format])]"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
      </div>



      <div class="col-md-12 overflow600">
        <p></p>
        <div ng-show="warning" class="alert alert-danger" role="alert">
          <strong>Large dataset,</strong> only the 1000 first rows are shown below, click download to access the whole dataset
        </div>

        <div ng-if="filter1=='videos'">
          <table class="table table-striped table-condensed table-bordered">
            <thead ng-repeat="row in datarows.slice(0,1)">
              <tr>
                <th >[([ row[0] ])]</th>
                <th >[([ row[1] ])]</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in datarows.slice(1,entries.length) | limitTo:dataLimit">
                <td ><a download ng-href="/[([ row[0] ])]">[([row[0] ])]</a></td>
                <td >[([row[1] ])]</td>
              </tr>
            </tbody>
          </table>
        </div>


        <table class="table table-striped table-condensed table-bordered">
          <thead ng-repeat="row in datarows.slice(0,1)">
            <tr>
              <th ng-repeat="col in row track by $index">[([col])]</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in datarows.slice(1,entries.length) | limitTo:dataLimit">
              <td ng-repeat="col in row track by $index">[([col])]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>

{>footer /}