{>header /}
<div class="container">    
    <div id="signupbox" style="display:display; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
                
            </div>  
            <div class="panel-body" >
                <form id="signupform" class="form-horizontal" role="form" action="/signup" method="post">
                    {?registererrors}
                    <div id="signupalert" style="" class="alert alert-danger">
                        <p>{registererrors}:</p>
                        <span></span>
                    </div>
                    {/registererrors}
                    
                      
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            {?username}
                            <input type="text" class="form-control" name="email" placeholder="Email Address" value="{username}">
                            {/username}
                            {^username}
                            <input type="text" class="form-control" name="email" placeholder="Email Addres">
                            {/username}
                        </div>
                    </div>
                        

                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="passwd" placeholder="Password">
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Repeat Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="passwdAgain" placeholder="Repeat Password">
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Button -->                                        
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Sign Up</button>
                            <!-- <span style="margin-left:8px;">or</span>   -->
                        </div>
                    </div>

                </form>
             </div>
        </div>
    </div>
</div> 

{>footer /}